#all-blogs-wrap{
	color: white;
	display: flex;
	flex: 1;
}
.sidebar{
	flex-basis: 20%;
	display: flex;
	flex-direction: column;
	background-color: rgba(255,255,255,0.2);
	padding: 1.25%;
	font-size: 0.8em;
}
.sidebar-link{
	color: white;
	margin: 5% 2.5%;
}
.sidebar-link:hover{
	text-decoration: underline;
	cursor: pointer;
}
#blog-area{
	flex-basis: 80%;
	padding: 1.25%;
	display: inline-block;
}
#admin-area{
	display: flex;
	flex-direction: column;
}
#input-title{
	margin-top: 2.5%;
	height: 2.5rem;
}
#input-body{
	margin-top: 1.25%;
	flex: 1;
	height: 5rem;
}
#input-submit{
	margin-top: 1.25%;
	width: 30%;
	display: inline-block!important;
	height: 2rem!important;
	color: rgb(20,20,20);
	background-color: rgb(27,255,72);
	border: none;
	outline: none;
	align-self: flex-end;
}
#input-reset{
	margin-top: 1.25%;
	width: 30%;
	display: inline-block;
	height: 2rem;
	border: none;
	align-self: flex-end;
	outline: none;
}
#input-submit:hover{
	cursor: pointer;
	background-color: rgb(37,215,32);
}
#input-reset:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,0.8);
}
.blog-snippet{
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0px 1px 1px rgba(255,255,255,0.3);
	margin: 1.25%;
	padding: 2.5%;
	display: flex;
	flex-direction: column;
}
.blog-snippet-title{
	color: black;
	font-weight: bold;
}
.blog-snippet-text{
	flex: 1;
	font-size: 0.8em;
	color: black;
}
.go-to-blog{
	text-align: right;
	color: rgb(27, 120, 220);
}
.go-to-blog:hover{
	cursor: pointer;
	color: rgb(27, 80, 190);
}
.go-to-blog:hover{
	cursor: pointer;
}
.blog-body{
	margin-bottom: 2.5%
}
.blog-title{
	flex-basis: 100%;
	font-size: 1.5em;
}
.blog-text{
	font-size: 0.9em;
}
.blog-edit{
	background-color: rgb(48, 57, 240);
}
.blog-delete{
	margin-left: 1.25%;
	background-color: rgb(240,57,48);
}
.blog-edit:hover{
	cursor: pointer;
	background-color: rgb(28, 37, 210);
}
.blog-delete:hover{
	cursor: pointer;
	background-color: rgb(210,37,28);
}
.blog-button-area{
	text-align: right;
}
.blog-button-area button{
	outline: none;
	border: none;
	color: white;
	margin-top: 2.5%;
	padding: 1% 5%;
}
.inset-blog-area{
	line-height: 1.75em;
}