.wrap{
	display: flex;
	flex: 1;
	flex-direction: column;
}
#grad{
	position: relative;
	flex-basis: 52%;
	flex: 1;
	width: 100%;
	z-index: 9;
	background-color: black;
	box-shadow: 0px 2px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0px 2px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 1px rgba(0,0,0,0.25);
}
canvas{
	position: absolute;
	top: -3rem;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	height: 100%;
}
.section{
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#top-title{
	font-size: 3em;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -2.5rem;
	display: flex;
	background: -webkit-linear-gradient(left top, rgb(254, 3, 45), rgb(33, 248, 255));
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}
#top-section{
	padding-top: 2.5%;
	background-color: black;
}
#canvas-wrap{
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	background: red; /* For browsers that do not support gradients */
  	background: -webkit-linear-gradient(left top, red, rgb(91,117,244)); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(bottom right, red, rgb(91,117,244)); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom right, red, rgb(91,117,244)); /* For Firefox 3.6 to 15 */
	background: radial-gradient(circle at 90% 100%, rgb(255, 195, 39) 2%, rgb(255, 33, 39) 15%, rgb(59, 33, 225), rgb(59, 33, 75)); /* Standard syntax */
}
#sketch-standin{
	background-color: black;
	width: 99.5%;
	height: 99.5%;
	display: flex;
	flex-direction: column;
}
#canvas-area{
	display: flex;
	flex-basis: 75%;
	flex-direction: row;
	color: white;
}
.canvas-section{
	flex-basis: 20%;
}
#canvas-left{
}
#sketch{
	flex-basis: 60%;
}
#bottom-wrap{
	flex-basis: 48%;
	flex: 1;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: space-between;
}
#site-info-wrap{
	position: relative;
	flex-basis: 33%;
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 2.5%;
}
#site-info-title{
	margin-bottom: 2.5%;
	font-size: 1.5em;
	color: rgb(249, 248, 255);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}
#site-info-text{
	color: white;
	font-size: 0.8em;
}
#animation-controls{
	position: relative;
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	text-align: left;
	padding: 1.25% 2.5%;
	margin: 2.5%;
	border: 1px solid rgba(255,255,255,0.7);
	background-color: rgba(0,0,0,0.15)
}
#controls-title{
	font-size: 1.25em;
	color: white;
	display: flex;
	justify-content: space-between;
}
#toggle-animation{
	font-size: 0.5em !important;
	background-color: white;
	color: red;
	height: 3em;
	padding: 2.5%;
	line-height: 1.5em;
}
#toggle-animation:hover{
	cursor: pointer;
	background-color: red;
	color: white;
}
.control{
	font-size: 0.8em;
	margin-top: 2.5%;
	display: flex;
	justify-content: space-around;
}
.control-name{
	
}
.control-desc{
}
